.languageButton{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

.spa{
    background-color: #1a6373;
    color: #fffffa;
}

.eng{
    background-color: #fffffa;
    color: #000;
}

