.navBar{
    position:fixed;
    top:0;
    
}
.mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    background-color: #fffffa
}
.logo img{
    min-width: 130px;
    margin: 10px 0 0 30px;
    cursor:pointer;
}

.options{
    min-width: 60px;
    margin-right: 10px;
    cursor:pointer;
}